<!DOCTYPE html>
<html lang="en"
      class="wf-proximanova-n7-active wf-proximanova-n5-active wf-proximanova-n4-active wf-proximanova-n6-active wf-proximanova-n3-active wf-active">
<head>
    <meta charset="UTF-8">
    <title>Cliënt</title>
    <!--Style for Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Style for icons (font-awesome)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Style-->
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <!-- Header added -->
    <header id="header"></header>
    <!-- Container -->
    <div class="container">
        <div class="inner_container">
            <h3 id="clientname"><i class="fa fa-arrow-left" onclick="history.back()"></i> </h3>
            <!--Table with client info-->
            <table class="client_table table table-striped">
                <div id="loading">
                    <i id="loading_symbol" class="fa fa-refresh fa-spin"></i>
                </div>
                <tbody class="tbody" id="client_body"></tbody>
            </table>
            <!--/Table with client info-->
            <!--Buttons for usage, difficult moments, notes and messages-->
            <div class="client-buttons">
                <button id="usageclientbutton" class="btn btn-lg btn-primary" type="submit" onclick="redirectusage()">
                    Gebruik
                </button>
                <button id="difficultmomentclientbutton" class="btn btn-lg btn-primary" type="submit" onclick="redirectdifficultmoment()">
                    Moeilijke momenten
                </button>
                <button id="moodclientbutton" class="btn btn-lg btn-primary" type="submit" onclick="redirectmood()">
                    Gemoedstoestand
                </button>
                <button id="notesclientbutton" class="btn btn-lg btn-primary" type="submit" onclick="redirectnotes()">
                    Notities
                </button>
                <button id="messagesclientbutton" class="btn btn-lg btn-primary" type="submit" onclick="redirectmessages()">
                    Berichten
                </button>
            </div>
            <!--/Buttons for usage and difficult moments-->
            <!--Buttons for treatment client-->
            <div class="treatclient-buttons">
                <button id="treatclientbutton" class="btn btn-lg btn-primary" type="submit" onclick="treatclient()">
                    <i class="fa fa-plus"></i>
                </button>
                <button id="untreatclientbutton" class="btn btn-lg btn-primary" type="submit" onclick="untreatclient()">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <!--/Buttons for treatment client-->
        </div>
    </div>
    <!-- /container -->
    <!-- Footer added -->
    <footer id="footer"></footer>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/includehtml.js"></script>
<script src="js/authcookie.js"></script>
<script src="js/redirect.js"></script>
<script src="js/specificclient.js"></script>
<script src="js/treatclient.js"></script>
</html>