<!DOCTYPE html>
<html lang="en" class="wf-proximanova-n7-active wf-proximanova-n5-active wf-proximanova-n4-active wf-proximanova-n6-active wf-proximanova-n3-active wf-active">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <!--Style for Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Style loading icon-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Style-->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Header added -->
    <header id="header"></header>
    <!-- Container -->
    <div class="container">
        <div class="inner_container">
            <h1>Mijn cliënten</h1>
            <!--Table with treatment clients -->
            <table class='tclients_table table table-striped table-hover'>
                <div id="loading">
                    <i id="loading_symbol" class="material-icons w3-spin w3-jumbo">refresh</i>
                </div>
                <tbody class="tbody" id="tclients_body"></tbody>
            </table>
            <!--/Table with treatment clients -->
            <!--Button to add client-->
            <button class="btn btn-lg btn-primary" type="submit" onclick="window.location.href='clients'">
                Voeg cliënt toe
            </button>
            <!--/Button to add client-->
        </div>
    </div>
    <!-- /Container -->
    <!-- Footer added -->
    <footer id="footer"></footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/includehtml.js"></script>
    <script src="js/authcookie.js"></script>
    <script src="js/redirect.js"></script>
    <script src="js/tabletreatmentclient.js"></script>
    <script>include();</script>
</body>
</html>