<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer</title>
    <!-- Retrieving the CSS for styling -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <div class="footer_body">
        <div class="footer_inner">
            <ul class="footer_block">
                <h2>title</h2>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolore eligendi est facere ipsam iusto nobis numquam quaerat qui,
                    quidem quis quos, repudiandae vero voluptate!
                    Maxime minus nihil pariatur tenetur voluptatem.</li>
            </ul>
            <ul class="footer_block">
                <h2>title</h2>
                <li><a href="">link</a></li>
                <li><a href="">link</a></li>
                <li><a href="">link</a></li>
                <li><a href="">link</a></li>
            </ul>
            <ul class="footer_block">
                <h2>title</h2>
                <li>text</li>
                <li>text</li>
                <li>text</li>
                <li>text</li>
            </ul>
        </div>
    </div>
</body>
</html>