<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer</title>

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <!--Style for footer-->
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <div class="footer_body">
        <div class="footer_inner">
            <div id="web-name">
                <p class="MDOD">Minder Drank of Drugs</p>
            </div>
            <div id="copyright">
                <p id="tactus">Tactus &copy;</p>
            </div>
        </div>
    </div>
</body>
</html>