<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header</title>
    <!-- Retrieving the CSS for styling -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <div class="header_body">
        <div class="header_inner" id="header_inner">
            <div id="header_logo"><a href="dashboard">
                    <img class="img_logo" src="img/logo_tactus-groot.png" alt=""></a>
            </div>
            <div class="normal">
                <ul class="header_menu">
                    <li><a href="dashboard"><h2>Dashboard</h2></a></li>
                    <li><a href="clients"><h2>Cliënten</h2></a></li>
                    <li><a href="profile"><h2>Mijn profiel</h2></a></li>
                </ul>
                <button onclick="window.location.href='login';delCookie('AuthToken')" class="btn btn-lg btn-primary btn-block" type="submit" id="btnLogout">Afmelden</button>
                </div>
                <div class="mediascreen">
                    <div class="header_menu">
                        <div class="dropdown">
                            <button class="dropbtn"><h2>Menu</h2></button>
                            <div class="dropdown-content">
                                <a href="dashboard">Dashboard</a>
                                <a href="clients">Cliënten</a>
                                <a href="profile">Mijn profiel</a>
                                <a onclick="window.location.href='login';delCookie('AuthToken')">Afmelden</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="js/authcookie.js"></script>
    </html>