<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MDOD Registratie</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
<<<<<<< HEAD:html/register.html
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login_register.css">
=======
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/register.css">
>>>>>>> NodeServer:views/register.ejs

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <js src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></js>
    <js src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></js>
    <![endif]-->
</head>
<body>
<div class="container">
    <form class="form-register">
        <!-- Registreren logo -->
        <img class="img_logo" src="img/logo_tactus-groot.png" alt="">

        <h3 class="register-heading">MDOD Registratie</h3>

        <div class="form-group">
            <h4>Voornaam:  * </h4>
            <label for="inputVoornaam" class="sr-only">Voornaam</label>
            <input type="text" id="inputVoornaam" name="firstname" class="form-control" placeholder="Voornaam" required autofocus>
        </div>

        <div class="form-group">
            <h4>Tussenvoegsel: </h4>
            <label for="inputTussenvoegsel" class="sr-only">Tussenvoegsel</label>
            <input type="text" id="inputTussenvoegsel" name="infix" class="form-control" placeholder="Tussenvoegsel">
        </div>

        <div class="form-group">
            <h4>Achternaam:  *</h4>
            <label for="inputAchternaam" class="sr-only">Achternaam</label>
            <input type="text" id="inputAchternaam" name="lastname" class="form-control" placeholder="Achternaam" required>
        </div>

        <div class="form-group">
            <h4>Telefoonnummer:  *</h4>
            <label for="inputTelefoonnummerRegister" class="sr-only">Telefoonnummer</label>
            <input type="text" id="inputTelefoonnummerRegister" name="phonenumber" class="form-control" placeholder="Telefoonnummer" required>
        </div>

        <div class="form-group">
            <h4>Locatie:  *</h4>
            <label for="inputLocatieRegister" class="sr-only">Locatie</label>
            <input type="text" id="inputLocatieRegister" name="location" class="form-control" placeholder="Locatie" required>
        </div>

        <div class="form-group">
            <h4>Email:  *</h4>
            <label for="inputEmailRegister" class="sr-only">Email</label>
            <input type="email" id="inputEmailRegister" name="email" class="form-control" placeholder="Email" required>
        </div>

        <div class="form-group">
            <h4>Wachtwoord:  *</h4>
            <label for="inputWachtwoordRegister" class="sr-only">Wachtwoord</label>
            <input type="password" id="inputWachtwoordRegister" name="password" class="form-control" placeholder="Wachtwoord" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Registreer</button>

        <p id="inputDisclaimer">Alle velden met een * zijn verplicht</p>
    </form>
</div> <!-- /container -->
</body>
</html>