<!DOCTYPE html>
<html lang="en" class="wf-proximanova-n7-active wf-proximanova-n5-active wf-proximanova-n4-active wf-proximanova-n6-active wf-proximanova-n3-active wf-active">
<head>
    <meta charset="UTF-8">
    <title>Header Footer</title>
</head>
<body>
<header id="header"></header>
<div class="container">
    <h1>PAGE CONTENT</h1>
</div>
<footer id="footer"></footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/includehtml.js"></script>
<script>include();</script>
</body>
</html>