footer {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    background-color: #43363C;
    width: 100%;
}

.footer_body {
    max-height: 100px;
    height: 100px;
    padding: 20px 10px;
    width: 100%;
    -webkit-box-sizing: content-box!important;
}

.footer_block {
    width: 30%;
    float: left;
    padding-right: 25px;
}

.footer_block h2 {
    color: white;
    font-weight: lighter;
}

.footer_block li {
    list-style: none;
    color: white;
    padding-top: 5px;
}

.footer_block a {
    color: #ea8516;
}