footer {
    overflow: hidden;
    background-color: #43363C;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
}

.footer_inner {
    padding: 0px 20px;
}

#socket-name {
    width: 60%;
    float: left;
}

#socket-info {
    width: 40%;
    float: right;
}

#socket-info p {
    float: right;
}

footer p {
    vertical-align: middle;
    margin: 10px;
    color: white;
}


/*.footer_body {*/
    /*max-height: 50px;*/
    /*height: 50px;*/
    /*padding: 20px 10px;*/
    /*width: 100%;*/
    /*-webkit-box-sizing: content-box!important;*/
/*}*/

/*.footer_inner {*/
    /*padding: 0% 10%;*/
/*}*/

/*.footer_block {*/
    /*width: 30%;*/
    /*float: left;*/
    /*padding-right: 25px;*/
/*}*/

/*.footer_block h2 {*/
    /*color: white;*/
    /*font-weight: lighter;*/
/*}*/

/*.footer_block li {*/
    /*list-style: none;*/
    /*color: white;*/
    /*padding-top: 5px;*/
/*}*/

/*.footer_block a {*/
    /*color: #ea8516;*/
/*}*/