.header_body {
    max-height: 50px!important;
    height: 100%;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #43363C;
    -webkit-box-sizing: content-box!important;
    position: fixed;
    top: 0px;
}

.header_inner {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.header_inner .btn{
    width: 100px;
}

.header_inner .btn-lg {
    padding: 10px 12px!important;
}

#header_logo {
    width: 20%;
    height: inherit;
    list-style: none;
    float: left;
}

#header_logo a {
    height: inherit;
    width: auto!important;
}

.img_logo {
    height: inherit;
    width: auto!important;
}

.header_menu {
    padding: 0;
    height: 100%;
    width: 70%;
    float: left;
    margin: 0;
    overflow: hidden;
}

.header_menu li {
    list-style: none;
    height: 100%;
    color: white;
    float: left;
    width: 33%;
    text-align: center;
}

.header_menu a {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
    text-decoration: none;
}

.header_menu h2 {
    padding-top: 11px;
}

