/*General*/

html {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "proxima-nova", Arial;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-style: normal;
    background-color: #eee;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    height: 100%;
    padding: 50px 0px;
    width: 100%;
}

.inner_container {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 0px;
}

/*Text*/
p, a, a:hover, a:active {
    font-size: 14px;
    font-weight: 400;
    color: #686759;
    line-height: 18px;
}

th, td {
    color: #686759;
    width: 50%;
}

h1  {
    color: #ea8516 !important;
    line-height: 40px;
}

h2  {
    color: #eeeeee;
    margin: 0;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
}

h3 {
    color: #ea8516 !important;
    line-height: 26px;
}

h4  {
    color: #686759;
    font-size: 16px;
}

/*Manipulating capitals*/
.dm_description:first-letter, .usage_cause:first-letter, .mood_description:first-letter, .notes_title:first-letter, .notes_description:first-letter, .messages_message:first-letter {
    text-transform: capitalize;
}
/*End Manipulating capitals*/

/*End Text*/

/*Loading symbol*/
#loading {
    width: 100%;
    height: 100px;
}

#loading_symbol {
    margin: 0 auto!important;
}
/*End Loading symbol*/

/*Forms*/
form {
    max-width: 330px;
    margin: 0 auto;
}

form h3 {
    text-align: center;
    margin-bottom: 10px;
}

form .form-control {
    height: auto;
    padding: 10px;
}

form input[type=date].form-control {
    line-height: inherit;
}

form input {
    color: #686759!important;
    margin-bottom: 10px;
}
/*End Forms*/

/*Table*/
table {
    width: 100%;
}

table td {
    padding: 10px;
}

.table-hover >tbody>tr:hover {
    background-color: rgba(234, 133, 22, 0.2);
    cursor: pointer;
}

.table tr:last-child {
    border-bottom: 1px solid #ddd;
}
/*End Table*/

/*Buttons*/
.btn{
    background-color: #ea8516;
    border-color: #ea8516;
    padding: 6px 10px;
    font-size: 15px;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: #d68024 !important;
    border-color: #d68024 !important;
}

.fa-arrow-left {
    cursor: pointer;
}
/*End Buttons*/

/*End General*/

/*Specific pages*/

/*Register*/
p#back_to_login {
    text-align: center;
}
/*End Register*/

/*Login*/
#loginreg_img_logo {
    width: 100%;
}

.container_loginreg {
    height: 100%;
}

.link-to-registration {
    text-align: center;
    padding-bottom: 10px;
}

#inputDisclaimer {
    margin-top: 10px;
    text-align: center;
}
/*End Login*/

/*Profile*/
.profile_buttons {
    float: right;
}
/*End Profile*/

/*Clients*/

/*End Clients*/

/*Client*/
.treatclient-buttons {
    float: right;
}

.client-buttons {
    float: left;
}

.client-buttons .btn {
    width: 155px;
}

#client_body .addiction_row:hover {
    background-color: rgba(234, 133, 22, 0.2);
    cursor: pointer;
}
/*End Client*/

/*Addiction*/
.substance_list {
    padding-left: 0px;
}

.substance_list li {
    list-style: none;
    padding-bottom: 5px;
}

.substance_list input[type=checkbox] {
    margin-right: 8px;
    cursor: pointer;
}
/*End Addiction*/

/*Difficult moment*/
 .dm_substance, .dm_date, .dm_lust  {
    width: 15%!important;
}

 .dm_description {
    width: 55%!important;
}
/*End Difficult moment*/

/*Usage*/
.usage_amount {
    width: 10%!important;
}

.usage_date, .usage_substance, .usage_location, .usage_mood {
    width: 15%!important;
}

.usage_cause {
    width: 30%!important;
}
/*End Usage*/

/*Mood*/
.mood_date, .mood_mood {
    width: 15%!important;
}

.mood_description {
    width: 70%!important;
}
/*End Mood*/

/*Messages*/
#messages_head {
    display: block;
}

#messages_body {
    display: block;
    height: 300px;
    overflow-y: scroll;
}

.send_message {
    width: 300px;
}

textarea#message_input {
    height: 80px;
    width: 300px;
    margin-right: 15px;
}
/*End Messages*/

/*Notes*/
.notes_title {
    width: 20%;
}

.notes_description {
    width: 80%;
}

/*Update notes*/
#inputNote {
    margin-bottom: 10px;
}
/*End Update notes*/

/*End Notes*/

/*End Specific pages*/

/*Media screen*/
@media screen and (max-width: 950px) {
    .inner_container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
/*End Media screen*/



