body {
    font-family: "proxima-nova", Arial;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-style: normal;
    background-color: #eee;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    padding: 50px 0;
    width: 100%;
}

.inner_container {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 50px;
}

p, a, a:hover, a:active {
    font-size: 14px;
    font-weight: 400;
    color: #686759;
    line-height: 18px;
}

th, td {
    color: #686759;
    width: 50%;
}

h1, h3  {
    color: #ea8516 !important;
    line-height: 26px;
}

h2  {
    color: #eeeeee;
    margin: 0;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
}

h4  {
    color: #686759;
    font-size: 16px;
}

table {
    width: 100%;
}

table td {
    padding: 10px;
}

.table tr:last-child {
    border-bottom: 1px solid #ddd;
}

.btn{
    background-color: #ea8516;
    border-color: #ea8516;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: #d68024 !important;
    border-color: #d68024 !important;
}

/*Profile*/
.profile_buttons {
    float: right;
}

/*tableallclients.js / manageclients.ejs*/
#tableClients tr {
    cursor: pointer;
}

/*client.ejs*/
#treatclientbutton {
    float: right;
}

h3#clientname {
    float: left;
}

.client-buttons {
    float: right;
    margin-top: 20px;
}

.client-buttons .btn-lg {
    padding: 8px 14px;
    font-size: 12px;
}

.table-hover >tbody>tr:hover {
    background-color: rgba(234, 133, 22, 0.2);
}

